body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #cd5d1d;
  }
  
  h1 {
    font-size: 24px;
    color: blue;
  }
  
  p {
    font-size: 16px;
    color: #333;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    color: blue;
    text-decoration: underline;
  }
  
